/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#message{
    width: 90%;
    padding: 8px;
    font-size: 16px;
    
}
#key{
    width: 92%;
    height: 35px;
    font-size: 16px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

#output {
    margin-top: 15px;
    font-weight: bold;
}

#type {
    font-size: 17px;
}

.workarea {
    background-color: antiquewhite;
    width: 500px;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#enc{
    background-color: rgb(92, 43, 62);
    color: #f4f4f4;
}
#dec{
    background-color: rgb(60, 110, 93);
    color: #f4f4f4;
}
#clear{
    background-color: rgb(70, 94, 140);
    color: #f4f4f4;
}
#btnarea{
    width: 96%;
    display: flex;
    gap: 10px; 
}
#btnarea button{
    flex:1;
}
@media (max-width: 1080px) {
    body {
        margin: 0px;

    }

    .workarea {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    #message, #key {
        width: 95%;
        box-sizing: border-box;
    }
    #btnarea{
        display: block;
       
    }
    #btnarea button {
        width: 100%;
        margin: 8px 0px;
    }
}
